.CommentIcon {
  align-items: center;
  // background-color: red;
  display: flex;
  margin-left: 1rem;

  // padding: 0.5rem;

  img {
    height: 20px;
    margin: 0 0.5rem;
  }

  p {
    margin-right: 0.5rem;
  }
}