.ProfileHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  .categories {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    .buttons {
      display: flex;
      justify-content: center;

      button {
        // background-color: black;
        border: 1px solid rgb(255, 69, 0);
        padding: 0 2rem;
      }

      button:hover {
        cursor: pointer;
      }

      .active {
        background-color: rgb(255, 69, 0);
        color: white;
      }

      .inActive {
        background-color: white;
        color: black;
        transition: background-color 0.1s ease-in-out;
      }

      .inActive:hover {
        background-color: rgba(255, 69, 0, 0.5)
      }

      
    }

    .historyListItem {
      // background-color: aqua;
      border: 1px solid #818384;
    }

    .commentListItem {
      padding: 1rem;
    }
  }
}