.ProfileHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  .categories {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    .buttons {
      display: flex;
      justify-content: center;
      button {
        // background-color: black;
        border: none;
        padding: 0 2rem;
      }

      button:hover {
        cursor: pointer;
      }
    }

    .historyListItem {
      // background-color: aqua;
      border: 1px solid #818384;
    }

    .commentListItem {
      padding: 1rem;
    }
  }
}